[submodule "brandtrendy"]
	path = brandtrendy
	url = git@git.vauxoo.com:vauxoo/brandtrendy.git
	branch = 17.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 19.0
[submodule "sale-self-invoice"]
	path = sale-self-invoice
	url = git@git.vauxoo.com:vauxoo/sale-self-invoice.git
	branch = 17.0
