[submodule "brandtrendy"]
	path = brandtrendy
	url = git@git.vauxoo.com:vauxoo/brandtrendy.git
	branch = 17.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:Vauxoo/stock-logistics-workflow.git
	branch = 17.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Vauxoo/product-attribute.git
	branch = 17.0
[submodule "sale-self-invoice"]
	path = sale-self-invoice
	url = git@git.vauxoo.com:vauxoo/sale-self-invoice.git
	branch = 17.0

[submodule "Vauxoo/stock-logistics-warehouse"]
	path = Vauxoo/stock-logistics-warehouse
	url = git@github.com:Vauxoo/stock-logistics-warehouse.git
	branch = 17.0
